* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--main-white) !important;
  color: var(--main-dark) !important;
  font-family: "Lato", sans-serif;
  overflow: auto !important;
}
